/* Universal Styles*/
* {
  margin: 0;
  padding: 0;
}
/* HTML */
body {
  background: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
/* Header */
header {
  display: flex;
  height: 69px;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1px;
}
.logo {
  margin-left: 10px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav a {
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  padding-right: 20px;
}
/* Our Mission Section*/
.mission_section {
  display: flex;
  background-image: url("../images/m-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  top: 71px;
  height: 700px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner {
  display: block;
  background-color: black;
  width: 1200px;
  height: 38px;
  padding: 10px;
}
