/* Universal Styles*/
* {
  margin: 0;
  padding: 0;
}
/* HTML */
body {
  background: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
/* Header */
header {
  display: flex;
  height: 69px;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1px;
}
.logo {
  margin-left: 10px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav a {
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  padding-right: 20px;
}
/* Our Mission Section*/
.mission_section {
  display: flex;
  background-image: url("../images/m-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  top: 71px;
  height: 700px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner {
  display: block;
  background-color: black;
  width: 1200px;
  height: 38px;
  padding: 10px;
}
/* Tea of the Month Section */
.tea_month_section {
  display: block;
  width: 1000px;
  margin: 100px auto 50px auto;
}
.images_section img {
  height: 200px;
  width: 300px;
}
.top_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 100px;
}
.top_section h2,
.top_section h4 {
  padding: 10px;
}
.images_section {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images_section div {
  padding: 10px;
}
/* Locations Section */
.locations_section {
  display: flex;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.location_title {
  margin-bottom: 15px;
}
.boxes {
  display: inline-flex;
  align-items: center;
  opacity: 1;

}
.location_box {
  background-color: black;
  width: 300px;
  margin-right: 20px;
  margin-left: 40px;
  height: 300px;
}
.location_box h3,
.location_box p {
  padding: 20px;
}
/* Contact */
.contact {
  display: block;
  margin-top: 0px;
  height: 200px;
}
.contact_title,
.contact_details {
  padding-bottom: 25px;
}
/* Footer */
footer {
  text-align: left;
  padding: 20px;
}
